<h2>All Pokemons</h2>
<% @pokemons.each do |pokemon|%>
  <p class="pokemon">
    <a href="/pokemons/<%= pokemon.id %>"><%= pokemon.name %></a>
  </p>
<% end %>
<h3><a href="/trainers">Click here to view their trainers!</h3>
