<h2><a href="/">Selected Pokemon</a></h2>
<div class="pokemon">
  <p>Name: <%= @pokemon.name %></p>
  <p>Type: <%= @pokemon.poke_type %></p>
  <p>CP: <%= @pokemon.cp %></p>
  <img src ="<% @pokemon.img_url%>">
</div>
